[Unit]
Description=TgBotChannelRepost
After=multi-user.target

[Service]
WorkingDirectory=/home/????/TgBotChannelRepost
User=????
ExecStart=/usr/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
EOF